<div class="customContainer">
    <div class="archive-body">
        <ol class="breadcrumb">
            <li><a href="#!/">主页</a></li>
            <li><a href="#!/blog">博客</a></li>
            <li class="active">归档</li>
        </ol>
        <ng-include src="'modules/common/loading.html'"></ng-include>
        <div ng-show="loaded" class="col-xs-12"
             ng-repeat="archive in archives">
            <div class="archive-card">
                <div class="panel panel-custom-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <span class="glyphicon glyphicon-time"></span>&nbsp;
                            {{archive.name}}<span style="font-size: 12px;">（共计{{archive.counts}}篇）</span>
                        </h3>
                    </div>
                    <ul class="list-group">
                        <li ng-click="selectArchive(monthArchive.name)"
                            ng-repeat="monthArchive in archive.childArchive | orderBy:'-name'"
                            class="list-group-item">{{monthArchive.name}}<span
                                style="font-size: 12px;">（{{monthArchive.counts}}）</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>