<div class="customContainer">
    <div class="category-body">
        <ol class="breadcrumb">
            <li><a href="#/">XXX的博客</a></li>
            <li><a href="#/blog/tag">标签</a></li>
            <li class="active">{{tagName}}  <span ng-if="tagArticles" style="font-size: 12px;">(共{{tagArticles.length}}文章)</span></li>
        </ol>
        <ng-include src="'modules/common/loading.html'"></ng-include>
        <div ng-if="noSuchTag">您要查看的分类不存在</div>
        <div ng-show="loaded">
            <div class="" id="body-content">
                <div ng-repeat="article in tagArticles"
                     class="card">
                    <div>
                        <h3>
                            <a href="#/blog/article/{{article.title}}"
                               title="{{article.title}}">{{article.title}}</a>
                        </h3>
                    </div>
                    <ng-include src="'modules/common/article.list.summary.view.html'"></ng-include>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $(".toggle-sidebar").click(function () {
            $("#sub-nav").toggleClass("collapsed");
            $("#body-content").toggleClass("col-sm-12  margin_left_sub_nav_width");
            $("#close-open-icon").toggleClass("glyphicon-chevron-right");
            return false;
        });
    });
</script>