<div class="customContainer">
    <div class="category-body">
        <ol class="breadcrumb">
            <li><a href="#!/">主页</a></li>
            <li><a href="#!/blog">博客</a></li>
            <li><a href="#!/blog/tag">标签</a></li>
            <li class="active">{{tagName}}  <span ng-if="tagArticles" style="font-size: 12px;">({{tagArticles.length}})</span></li>
        </ol>
        <ng-include src="'modules/common/loading.html'"></ng-include>
        <div ng-if="noSuchTag">您要查看的分类不存在</div>
        <div ng-show="loaded">
            <div class="body-tag-body">
                <div ng-repeat="article in tagArticles"
                     class="card">
                    <div>
                        <h3 style="font-size: 20px;text-indent: 28px;">
                            <a style="color:#000" href="#!/blog/article/{{article.code}}"
                               title="{{article.title}}">{{article.title}}</a>
                            <span style="font-size: 12px;padding-top: 5px;" class="pull-right visible-lg">
                                <a
                                        href="#!/blog/article/{{article.code}}">阅读全文<span class="glyphicon glyphicon-chevron-right"></span></a>
                            </span>
                        </h3>
                    </div>
                    <ng-include src="'modules/common/article.list.summary.view.html'"></ng-include>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $(".toggle-sidebar").click(function () {
            $("#sub-nav").toggleClass("collapsed");
            $("#body-content").toggleClass("col-sm-12  margin_left_sub_nav_width");
            $("#close-open-icon").toggleClass("glyphicon-chevron-right");
            return false;
        });
    });
</script>