html, body {
	font: 14px/1.5 "Arial", "Helvetica Neue", Helvetica, "Hiragino Sans GB",
		"STHeiti", "WenQuanYi Micro Hei", "Microsoft Yahei", sans-serif;
}

body {
	height: 100%;
}

.no_border_radius {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.customContainer {
	/* 	border: 1px solid #E6E6E6;*/
	padding: 0 10px 55px 10px;
	margin: 0;
	margin-left: 260px;
	margin-right:160px;
	/* min-height:650px; */
	height: 100%;
	background-color: #F1F1F1;
}
.customManageContainer{
	padding: 20px 20px 55px 20px;
	margin: 0;
	margin-left: 260px;
	margin-right:160px;
	min-height:600px;
	height: 100%;
	background-color: #F1F1F1;
}
.pagination_border_radius_0{
	border-radius:0;
}
.font_kaiti_20{
	font: 20px/1.2 "楷体", "Arial", sans-serif;
}
.font_kaiti_18{
	font: 18px/1.2 "楷体", "Arial", sans-serif;
}
.font_kaiti_16{
	font: 16px/1.0 "楷体", "Arial",sans-serif;
}


.row {
	padding: 0;
	margin: 0;
}

#catalog {
	font: 14px/1.5 "楷体", "Arial", "Helvetica Neue", Helvetica,
		"Hiragino Sans GB", "STHeiti", "WenQuanYi Micro Hei",
		"Microsoft Yahei", sans-serif;
	position: fixed;
	right: 0;
	top: 0;
	width: 160px;
	height: 100%;
	overflow: auto;
	border: none;
	border-radius: 0;
	margin: 0;
	border-left: 1px #EBEBEB solid;
	padding-top: 40px;
	background-color: #fff;
}

.catalog_header {
	font: 15px/1.5 "楷体", "Arial", "Helvetica Neue", Helvetica,
		"Hiragino Sans GB", "STHeiti", "WenQuanYi Micro Hei",
		"Microsoft Yahei", sans-serif;
	height: 40px;
	line-height: 40px;
	text-align: center;
}

.catalog_body {
	
}

.catalog_footer {
	position: fixed;
	/* right: 0; */
	text-indent: 5px;
	width:100%;
	bottom: 0;
	background-color: #F3F3F3;
}

a {
	cursor: pointer;
	color: #000;
}

.img-circle {
	border: 1px solid #dddddd;
	border-radius: 50%;
	height: 100px;
	width: 100px;
}

.tableTrBottomBorder table tr {
	border-bottom: 1px solid #ddd;
}

.modalDiv .row div {
	margin: 3px 0;
}

.modalDiv .row div label {
	padding: 0;
}

.panel {
	margin-bottom: 5px;
}

.panel-heading h3 {
	line-height: 200%;
}

.panel-footer {
	padding: 0;
}

.panel-footer ul {
	margin: 5px 0 0 0;
}

.table {
	margin-bottom: 0;
}

.border_bottom {
	border-bottom: 1px #EBEBEB solid;
}

.border_top {
	border-top: 1px #EBEBEB solid;
}

.padding_none {
	padding: 0;
}

.padding_left_20 {
	padding: 0 0 0 20px;
}

.ul_style_none {
	padding: 0;
	list-style: none;
}

.menu_li {
	padding-left: 0px;
	height: 30px;
	width: 100%;
	text-indent: 10px;
	border-bottom: 1px #EBEBEB dashed;
}

.menu_li a {
	padding-left: 8px;
	height: 30px;
	line-height: 28px;
	float: left;
	color: #8D8D8D;
	font-size: 14px;
	text-decoration: none;
	display: inline-block;
	text-overflow: ellipsis;/*这就是省略号喽*/		  
	overflow: hidden;/*设置超过的隐藏*/
	white-space: nowrap;/*设置不折行*/
	width:100%;/*设置宽度*/
}

.menu_li a:hover {
	color: #000;
	background-color: #EBEBEB;
	text-decoration: none;
}

.navbar-vertical-left {
	position: fixed;
	left: 0;
	top: 0;
	width: 260px;
	height: 100%;
	overflow: auto;
	border: none;
	border-radius: 0;
	margin: 0;
	background-color: #fff;
	z-index: 999;
	border-right: 1px #EBEBEB solid;
	color:#000;
}

@media ( max-width : 768px) {
	.customContainer,.customManageContainer{
		margin-left: 0px;
		margin-right:0px;
	}
	.navbar-vertical-left {
		position: fixed;
		bottom: 0;
		top: auto;
		height: auto;
		width: 100%;
	}
	.navbar-vertical-left, .navbar-vertical-left ul.navbar-nav {
		-webkit-transition: none;
		-moz-transition: none;
		transition: none;
		-webkit-transform: none;
		-moz-transform: none;
		transform: none;
	}
	.navbar-vertical-left ul.navbar-nav>li {
		display: table-cell;
	}
	.navbar-vertical-left ul.navbar-nav>li>a {
		display: inline-block;
		width: 100%;
		text-align: center;
		height: 50px;
		line-height: 30px;
	}
	.navbar-vertical-left ul.navbar-nav>li>a>i.fa {
		margin: 0;
	}
	.navbar-vertical-left ul.navbar-nav>li>a>span {
		display: none;
	}
}

.sidebar-nav {
	font: 17px/1.0 "楷体", "Arial", "Helvetica Neue", Helvetica,
		"Hiragino Sans GB", "STHeiti", "WenQuanYi Micro Hei",
		"Microsoft Yahei", sans-serif;
	background-color: #FFFFFF;
	text-align: center;
	height: 100%;
	padding: 0;
	z-index: 10;
}

/* make sidebar nav vertical */
@media ( min-width : 768px) {
	.sidebar-nav .navbar .navbar-collapse {
		padding: 0;
		max-height: none;
	}
	.sidebar-nav .navbar ul {
		float: none;
		display: block;
	}
	.sidebar-nav .navbar li {
		float: none;
		display: block;
	}
	.sidebar-nav .navbar li a {
		padding-top: 12px;
		padding-bottom: 12px;
	}
}