html, body {
	font: 14px/1.5 "Arial", "Helvetica Neue", Helvetica, "Hiragino Sans GB",
		"STHeiti", "WenQuanYi Micro Hei", "Microsoft Yahei", sans-serif;
}

body {
	height: 100%;
	overflow-x:hidden; 
}

.row {
	padding: 0;
	margin: 0;
}

.customContainer {
	/* 	border: 1px solid #E6E6E6;*/
	padding: 0 0px 55px 0px;
	margin: 0;
	margin-left: 260px;
	height: 100%;
	background-color: #F1F1F1;
}
@media ( max-width : 768px) {
	.customContainer {
		margin-left: 0px;
		margin-right: 0px;
	}
}

.font_kaiti_20 {
	font: 20px/1.2 "楷体", "Arial", sans-serif;
}

.font_kaiti_18 {
	font: 18px/1.2 "楷体", "Arial", sans-serif;
}

.font_kaiti_16 {
	font: 16px/1.0 "楷体", "Arial", sans-serif;
}

a {
	cursor: pointer;
	color: #000;
}

.img-circle {
	border: 1px solid #dddddd;
	border-radius: 50%;
	height: 100px;
	width: 100px;
}

.border_bottom {
	border-bottom: 1px #EBEBEB solid;
}

.border_top {
	border-top: 1px #EBEBEB solid;
}

.tableTrBottomBorder table tr {
	border-bottom: 1px solid #ddd;
}

.pagination_border_radius_0 {
	border-radius: 0;
}

.no_border_radius {
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

.modalDiv .row div {
	margin: 3px 0;
}

.modalDiv .row div label {
	padding: 0;
}

.panel {
	margin-bottom: 5px;
}

.panel-heading h3 {
	line-height: 200%;
}

.panel-footer {
	padding: 0;
}

.panel-footer ul {
	margin: 5px 0 0 0;
}

.table {
	margin-bottom: 0;
}

.padding_none {
	padding: 0;
}

.padding_left_20 {
	padding: 0 0 0 20px;
}

.ul_style_none {
	padding: 0;
	list-style: none;
}

.card {
	padding: 10px 20px 6px 20px;
	background-color: #fff;
	margin-bottom: 15px;
}

