html, body {
    font: 14px/1.5 "Microsoft Yahei","Arial", "Helvetica Neue", Helvetica, "Hiragino Sans GB",
    "STHeiti", "WenQuanYi Micro Hei",  sans-serif;
    /*background-color: #FBFBFB;*/
}

body {
    background-image: url(http://ww3.sinaimg.cn/large/7011d6cfjw1f1yyk5xe1sj203h03d742.jpg);
    position: relative;
    height: 100%;
    overflow-x: hidden;
}
.navbar-default .navbar-toggle{
    border-color: #fff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.breadcrumb {
    margin : 0 10px 15px 10px;
    /*border-radius: 4px;*/
}
.breadcrumb .active{
    color: #000;
}

.card {
    padding: 5px 20px 6px 20px;
    background-color: #fff;
    margin:0px 0px 15px 0px;
    /*border-bottom: 1px silver solid;*/
}
.card a{
    color: #333333;
}
.row {
    padding: 0;
    margin: 0;
}

.customContainer {
    /* 	border: 1px solid #E6E6E6;*/
    padding: 0px 0px 0px 0px;
    margin: 0;
    margin-left: 260px;
    min-height: 400px;
    height: 100%;
    overflow-x: hidden;
}

@media ( max-width: 768px) {
    .customContainer {
        padding: 55px 0px 0px 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

.panel-custom-primary {
    border:0px;
    /*border: 1px solid #336699;*/
    /*border-radius: 4px;*/
}

.panel-custom-primary .panel-heading {
    /*border-top-left-radius: 4px;*/
    /*border-top-right-radius: 4px;*/
    background-color:#333333; //#336699;
    padding: 2px 15px 0px 15px;
    color: #fff;
    /*text-shadow: 5px 5px 5px #3f5b6e;*/
}

.panel-custom-primary .panel-footer {
    background-color: #EDF0F2;
    /*border-bottom-left-radius: 4px;*/
    /*border-bottom-right-radius: 4px;*/
}

.font_kaiti_20 {
    font: 20px/1.2 "楷体", "Arial", sans-serif;
}

.font_kaiti_18 {
    font: 18px/1.2 "楷体", "Arial", sans-serif;
}

.font_kaiti_16 {
    font: 16px/1.0 "楷体", "Arial", sans-serif;
}

a {
    cursor: pointer;
    /*color: #000;*/
}
.form-control{
    -webkit-box-shadow: none;
    box-shadow: none;
}
.img-circle {
    border: 1px solid #dddddd;
    border-radius: 50%;
    height: 100px;
    width: 100px;
}

.border_bottom {
    border-bottom: 1px silver solid;
}
.border_bottom_white {
    border-bottom: 1px #fff solid;
}
.border_bottom_black{
    border-bottom: 1px #222 solid;
}
.border_top {
    border-top: 1px silver solid;
}

.tableTrBottomBorder table tr {
    border-bottom: 1px solid #ddd;
}

table {
    border: 1px solid #ddd;
    max-width: 100%;
    margin-bottom:20px
}

table > tbody > tr > td, table > tbody > tr > th, table > tfoot > tr > td, table > tfoot > tr > th, table > thead > tr > td, table > thead > tr > th {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd
}

table > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd
}

table > caption + thead > tr:first-child > td, table > caption + thead > tr:first-child > th, table > colgroup + thead > tr:first-child > td, table > colgroup + thead > tr:first-child > th, table > thead:first-child > tr:first-child > td, table > thead:first-child > tr:first-child > th {
    border-top: 0
}

table > tbody > tr > td, table > tbody > tr > th, table > tfoot > tr > td, table > tfoot > tr > th, table > thead > tr > td, table > thead > tr > th {
    border: 1px solid #ddd
}

table > thead > tr > td, table > thead > tr > th {
    border-bottom-width: 2px
}

table > tbody + tbody {
    border-top: 2px solid #ddd
}

table > tbody > tr:nth-of-type(odd) {
    background-color: #f9f9f9
}

.pagination_border_radius_0 {
    border-radius: 0;
}

.no_border_radius {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.modalDiv .row div {
    margin: 3px 0;
}

.modalDiv .row div label {
    padding: 0;
}

.panel {
    margin-bottom: 5px;
}

.panel-heading .panel-title {
    line-height: 200%;
    font-size: 16px;
   /* margin-top: 3px;*/
}

.panel-footer {
    padding: 5px 0;
}

.panel-footer ul {
    margin: 5px 0 0 0;
}

.table {
    margin-bottom: 0;
}

.padding_none {
    padding: 0;
}

.padding_left_20 {
    padding: 0 0 0 20px;
}

.ul_style_none {
    padding: 0;
    list-style: none;
}


