@CHARSET "UTF-8";

.content-top {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 10px 0;
	/* background-color: #FFF;
	border: 1px solid #E6E6E6; */
}

.content {
	padding: 10px 20px 20px 20px;
	background-color: #fff;
	/* min-height: 600px; */
	height: auto;
	border: 1px solid #E6E6E6;
}

.content_header {
	/* padding-top:10px; */
	/* height: 90px; */
}

.content_body {
	padding-top:10px;
	font-size: 15px;
}
.content_body img{
	display:block;max-width:100%;height:auto
}
.content_footer {
	margin-top:20px;
	height: 40px;
}