<div class="customContainer">
    <div class="row">
        <div class="">
            <div class="manage-body-content-body">
                <form class="form-horizontal" action="javascript:void(0)" novalidate>
                    <div class=" panel panel-default">
                        <div class="panel-heading"
                             style="padding-bottom:0;padding-left: 30px;height: 50px;">
                            <h3 class="panel-title font_kaiti_20">
                               编辑个人信息 <a href="#!/manage" class="btn btn-sm btn-primary pull-right">管理首页</a>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <div class="col-sm-2 control-label col-lg-1">
                                    <label style="text-align: center;padding-right: 0">笔名</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control"
                                           style="height: 40px;font-size: 15px;" placeholder="请输入您的笔名"
                                           name="penName" ng-model="info.penName" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 control-label col-lg-1">
                                    <label style="text-align: center;padding-right: 0">常用邮箱</label>
                                </div>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control"
                                           style="height: 40px;font-size: 15px;"
                                           placeholder="请输入您常用邮箱的笔名" name="email" ng-model="info.email"
                                           required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-2 control-label col-lg-1">
                                    <label style="text-align: center;padding-right: 0">个人介绍</label>
                                </div>
                                <div class="col-sm-10">
                                    <div id="info-editormd" style="margin-bottom: 0">
                                        <textarea style="display:none;"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12 col-lg-11">
									 <span class="pull-right"><a
                                             onclick="javascript:history.back()"
                                             class="btn btn-default">取消</a> <a
                                             ng-click="updateInfo(info)" class="btn btn-success">保存</a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="plugins/editor.md/editormd.js"></script>