<div class="customContainer">
    <div class="category-body">
        <ol class="breadcrumb">
            <li><a href="#!/">主页</a></li>
            <li><a href="#!/blog">博客</a></li>
            <li><a href="#!/blog/category">分类</a></li>
            <li class="active">{{categoryName}}</li>
        </ol>
        <ng-include src="'modules/common/loading.html'"></ng-include>
        <div ng-if="noSuchCategory">您要查看的分类不存在</div>
        <div ng-show="loaded">
            <div class="category-card" style="margin:15px 0 15px 0px;padding: 0 10px;">
                <div class="panel panel-custom-primary">
                    <div class="panel-heading">
                        <p class="panel-title">
                            <span class="glyphicon glyphicon-th-list"></span>&nbsp;{{category.name}}
                            <span style="font-size: 12px;">({{category.counts}})
							</span>
                            <span style="font-size: 12px;" class="pull-right"><a  style="color: #fff"
                                href="#/blog/category"><span class="glyphicon glyphicon-chevron-left"></span> 返回列表</a></span>
                        </p>
                    </div>
                    <div class="panel-body" style="">
                        <p style="text-indent: 25px;margin-bottom: 0;">
                            {{category.description}}
                        </p></div>
                    <div class="panel-footer">
                        <span style="font-size: 10px">阅读:{{category.hits}}次 &emsp; 评论:{{category.countMessages}}条</span>
                    </div>
                </div>
            </div>
            <div class="body-category-body">
            <div ng-repeat="article in categoryArticles" class="card">
                <div>
                    <h3 style="font-size: 20px;text-indent: 28px">
                        <a style="color:#000" href="#!/blog/article/{{article.code}}"
                           title="{{article.title}}">{{article.title}}</a>
                        <span style="font-size: 12px;padding-top: 5px;" class="pull-right visible-lg">
                            <a
                                    href="#!/blog/article/{{article.code}}">阅读全文<span class="glyphicon glyphicon-chevron-right"></span></a>
                        </span>
                    </h3>
                </div>
                <ng-include src="'modules/common/article.list.summary.view.html'"></ng-include>
            </div>
            </div>
        </div>
    </div>
</div>
