<div class="customContainer">
    <div class="project-body">
        <ol class="breadcrumb">
            <li><a href="#!/">主页</a></li>
            <li class="active">项目经历</li>
        </ol>
        <ng-include src="'modules/common/loading.html'"></ng-include>
        <div ng-show="loaded">
            <div class="body-project-body">
                <div class="row" style="background-color: #fff;border-bottom: 1px solid #DDDDDD;" ng-repeat="project in projects">
                    <div class="col-xs-3 col-sm-3 col-md-2 col-lg-2 "
                         style="text-align: center;vertical-align: middle;padding: 0">
                        <p style="line-height: 100%;font-size: 18px;margin-top: 30px;height: 100%;word-break: break-all;">{{project.pubTime | date :'yyyy.MM'}}</p>
                    </div>
                    <div class="col-xs-9 col-sm-9 col-md-10 col-lg-10 " style="border-left: 1px solid #DDDDDD;padding-top: 6px;padding-bottom: 10px">
                        <h3 style="font-size: 20px;text-indent: 20px;"><a ng-if="project.articleUrl"
                                                                         ng-click="hit(project.articleUrl,project.id)"
                                                                         target="_blank" style="margin-right:10px;"
                                                                         title="{{project.name}}">{{project.name}}</a><span
                                ng-if="!project.articleUrl">{{project.name}}</span></h3>

                        <p style="color:#666666;text-indent: 20px">{{project.introduction}}</p>

                        <p style="text-align: right;color:#999999;font-size: 13px;">
                            <a ng-click="hit(project.articleUrl,project.id)" ng-if="project.articleUrl"
                               target="_blank" style="margin-right:10px;"
                               title="{{project.name}}"><span
                                    class="	glyphicon glyphicon-search"
                                    style="padding: 0px;margin-right: 4px;"></span>项目详情</a>
                            <a style="margin-right: 10px;" ng-if="project.downUrl"
                               ng-click="hit(project.downUrl,project.id)" target="_blank"
                               title="{{project.name}}"><span
                                    class="glyphicon glyphicon-download-alt"
                                    style="padding: 0px;margin-right: 4px;"></span>源码下载</a>
                            <!--<span style="padding-left: 5px"><span class="glyphicon glyphicon-eye-open"
                                                                  style="padding: 0px;margin-right: 4px;"></span>阅读({{project.hits}})</span>-->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>