<!--container-fluid-->
<div class="customContainer">
    <div class="friend-body">
        <ol class="breadcrumb">
            <li><a href="#!/">主页</a></li>
            <li class="active">友情链接</li>
        </ol>
        <ng-include src="'modules/common/loading.html'"></ng-include>
        <div ng-show="loaded">
            <div class="col-sm-12 col-md-6 col-lg-4" ng-repeat="friendlink in friendlinks">
                <div class="friend-card">
                    <div class="panel panel-custom-primary">
                        <div class="panel-heading">
                            <p class="panel-title">
                                <span class="glyphicon glyphicon-link"></span>&nbsp;
                                <a ng-click="clickLink(friendlink.id,friendlink.website)" target="_blank">{{friendlink.name}}</a>
                            </p>
                        </div>
                        <div class="panel-body" style="">
                            <p style="text-indent: 25px;margin-bottom: 0;">
                                {{friendlink.description}}
                            </p></div>
                        <div class="panel-footer">
                            <span style="font-size: 10px">浏览:{{friendlink.hits}}次</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


