@CHARSET "UTF-8";

#body-content {
	padding: 0;
	-webkit-transition: width 0.3s ease;
	-moz-transition: width 0.3s ease;
	-o-transition: width 0.3s ease;
	transition: width 0.3s ease;
}

.body-content-body {
	padding: 20px 0px 10px 0px;
	margin: 0 20px;
}

.article {
	padding: 10px 40px 40px 40px;
	background-color: #fff;
	/* min-height: 600px; */
	height: 100%;
	/*border: 1px solid #E6E6E6;*/
}

.article-header {
	/* padding-top:10px; */
	/* height: 90px; */
	/*border-bottom: 2px solid #EBEBEB;*/
}

.article-body {
	padding-top: 10px;
	font-size: 15px;
}

.article-body .summary {
	background-color: #F7F9F7;
	padding: 10px;
}

.article-body .tag {
	background-color: #DADADA;
	font-size: 14px;
	padding: 2px 4px;
	margin: 0 8px 0 0;
}

.article-body .pre {
	background-color: #F7F9F7;
	padding: 13px 20px 7px 10px;
	border-bottom: 1px #E6E6E6 dashed;
	font-size: 14px;
	font-family: "微软雅黑";
    margin-top: 30px;
}

.article-body .next {
	background-color: #F7F9F7;
	padding: 10px 20px 10px 10px;
	font-size: 14px;
	font-family: "微软雅黑";
    margin-bottom: 30px;
}

.article-body .content {
	padding: 20px 0px;
}

.article-body img {
	display: block;
	max-width: 100%;
	height: auto;
}
.article-footer {
    width: 100%;
    height: 100%;
    padding-bottom: 30px;
}
.article-footer .col-xs-12,.article-footer .col-sm-12 {
    height: 100%;
    /*margin: 0;*/
    padding: 0;
}
.message-header .form-group{
    margin: 0;
}
.message-header label{
    padding: 0px;
    margin: 0;
    line-height: 34px;
}
.message-header .form-control{
    max-width: 400px;
}

.message-body{
    margin-bottom: 30px;
    height: 100%;
    width: 100%;
}
.message-card{
    margin-bottom: 6px;
    padding: 10px 10px 20px 10px;
    border: 1px #EBEBEB dashed;
}
.message-card p{
    margin-bottom: 5px;
}
.message-guest-name{
    padding: 4px;
    background-color: silver;
}
@media ( max-width : 768px) {
	.body-content-body {
		margin: 0;
	}
	.article {
		padding: 10px;
	}
}