.category-body,.tag-body {
	padding: 15px 10px;
}
.category-body .col-sm-12{
	padding:10px 0;
}
.category-body .col-md-6{
    padding:10px 0px;
 }
.category-body .col-lg-6{
    padding:10px 0px;
 }
.tag-body .col-sm-6,.tag-body .col-md-4,.tag-body .col-lg-3{
    padding:10px 10px 10px 10px;
}
.body-category-body,.body-tag-body{
    margin: 0 10px;
}
.category-card {
    margin: 0 10px;
	padding:  0px;
}

.category-card li {
	cursor: pointer;
}

.category-card li:hover {
	background-color: #F2F2F2;
}

.category-card  .panel-heading {
	/*border-radius: 0;*/
}

.category-card  .panel-body {
	height: 70px;
    padding: 9px;
    font-size: 13px;
    overflow: hidden;
}
.category-card .panel-footer{
    text-align: right;
    padding:2px 16px;
}
