.friend-body{
	padding:15px 8px;
}
.friend-body .col-sm-12{
    padding:10px 10px;
}
.friend-body .col-md-6{
    padding:10px 10px;
}
.friend-body .col-lg-4{
    padding:10px 10px;
}
.friend-card {
    padding:  0px;
    margin-right: 0px;
}

.friend-card  .panel-heading {
    /*border-radius: 0;*/
}

.friend-card  .panel-body {
    height: 70px;
    padding: 9px;
    font-size: 13px;
    overflow: hidden;
}
.friend-card .panel-footer{
    text-align: right;
    padding:2px 16px;
}