<div class="customContainer">
	<!--<ng-include src="'modules/common/top-nav.html'"></ng-include>-->
    <ng-include src="'modules/common/loading.html'"></ng-include>
    <div ng-show="loaded" class="body-content-body">
		<div class="card" ng-repeat="article in articles">
			<div>
				<h3>
					<a href="#/blog/article/{{article.title}}" title="{{article.title}}">{{article.title}}</a>
				</h3>
			</div>
            <ng-include src="'modules/common/article.list.summary.view.html'"></ng-include>
		</div>
		<div style="text-align: center">
			<ul uib-pagination total-items="totalItems" max-size="5"
				boundary-link-numbers="true" items-per-page="pageSize"
				ng-model="currentPage" ng-change="pageChanged()"
				class="pagination_border_radius_0"></ul>
		</div>
	</div>
</div>