<!--container-fluid-->
<div class="customContainer">
    <ng-include src="'modules/common/top-nav.html'"></ng-include>
    <div class="body-content-body">
        <div class="article">
            <div ng-show="error">文章不存在</div>
            <div ng-show="!error">
                <div class="article-header row">
                    <div class="col-sm-12" style="padding:0;">
                        <h2>{{article.title}}</h2>
                    </div>
                </div>
                <div class="article-body">
                    <div class="row">
                        <div class="col-sm-12 summary">
                            <div class="row">
                                <div class="col-md-6" style="padding:0;">
                                    <span style="font-family: '楷体'">类别：</span> <span><a
                                        style="text-decoration: underline;"
                                        href="#/blog/category/{{article.categoryName}}">{{article.categoryName}}</a></span>
                                </div>
                                <div class="col-md-6" style="padding:0;">
                                    <span style="font-family: '楷体'">标签：</span> <span
                                        ng-repeat="tName in article.tagNames"> <a
                                        href="#/blog/tag/{{tName}}"><span
                                        style="text-decoration: underline;" class="tag">
												{{tName}} </span></a>
									</span>
                                </div>
                                <div class="col-sm-12" style="margin-bottom: 0px;padding:0;">
                                    <p style="font-family: '楷体';margin-bottom: 0px">摘要：</p>

                                    <p style="text-indent: 30px;margin-bottom: 0px">{{article.summary}}</p>

                                    <p style="text-align:right;font-family: '楷体';margin-bottom: 0px">
                                        发表于 <a style="text-decoration: underline;"
                                               title="归档：{{article.pubTime | date :'yyyy-MM'}}"
                                               href="#/blog/archive/{{article.pubTime | date :'yyyy-MM'}}">{{article.pubTime
                                        | date :'yyyy-MM-dd HH:ss'}}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 content">
                            <div ng-bind-html="article.content | trusted"></div>
                        </div>
                        <div class="col-sm-12" style="padding:0;">
                            <div class="col-sm-12 pre">
                                <a ng-if="preArticle" href="#/blog/article/{{preArticle.title}}"><span>上一篇：</span>{{preArticle.title}}</a>
                                <span ng-if="!preArticle"><span>上一篇：</span>没有了...</span>
                            </div>
                            <div class="col-sm-12 next">
                                <a ng-if="nextArticle"
                                   href="#/blog/article/{{nextArticle.title}}"><span>下一篇：</span>{{nextArticle.title}}</a>
                                <span ng-if="!nextArticle"><span>下一篇：</span>没有了...</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="article-footer">
                    <div class="row">

                        <div class="col-xs-12 message-body">
                            <h3 style="padding-bottom: 10px;border-bottom: 2px #EBEBEB solid;">留言（1条）</h3>

                            <div class="message-card">
                                <p ><span style="color:#52769C">那个天天讲笑话的小明</span> 说：</p>

                                <div style="text-indent: 40px;">
                                    xxxxxxxxxxxxxxxxxxxxxxxxxxxx
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 message-header">
                            <!--<h3 style="padding-bottom: 10px;border-bottom: 2px #EBEBEB solid;">我要发表看法</h3>-->

                            <form class="form-horizontal" action="javascript:void(0)" novalidate>
                                <label>观点</label>

                                <div class="col-sm-12">
                                    <div id="message-editormd" style="margin-bottom: 0">
                                        <textarea style="display:none;"></textarea>
                                    </div>
                                    <!--<p style="text-align:right;color: #8D8D8D;font-size:12px;margin-bottom: 0">
                                        已输入100字符</p>-->
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label>邮箱</label>

                                        <div><input placeholder="必填，放心我不会公开也不会发送广告" class="form-control" type="email" name="email"
                                                    ng-model="guest.email" ng-blur="getGuestInfo(guest.email)"
                                                    required/></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label>昵称</label>

                                        <div><input placeholder="必填，您的大名" class="form-control" type="text" name="nickname"
                                                    ng-model="guest.nickname" type="text" required/></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="row">
                                        <label>个人网址</label>

                                        <div><input placeholder="希望我们能够互相信任 ^_^" class="form-control" type="text"/></div>
                                    </div>
                                </div>

                                <button class="btn btn-primary" style="width: 100px;margin-top: 10px;border-radius: 4px;">提 交
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .editormd{
        padding-top: 6px;
    }
</style>
<script>
    var messageEditor;

    $(function () {
        messageEditor = editormd("message-editormd", {
            width: "100%",
            height: 180,
            watch:false,
            path: web_project_name + "/plugins/editor.md/lib/",
            toolbarIcons: function () {
                return editormd.toolbarModes["mini"];
            },
            toolbar  : false,             //关闭工具栏
            saveHTMLToTextarea: true,
            lineNumbers:false,
            styleSelectedText:false,
            styleActiveLine:false,
            autoFocus:false,
            toolbarAutoFixed:false
        });
    });
</script>
